name: Deploy PR Preview

on:
  pull_request:
    types: [opened, reopened, synchronize, closed]

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # No build step needed because we are deploying static files in /site
      - name: Deploy preview to GitHub Pages
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: site/
          preview-branch: gh-pages
          wait-for-pages-deployment: true
          qr-code: true